<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!--Include Vue-->
  <title>Homework 6</title>
</head>
<body>
  <h1>Homework 6</h1>
  <section id="imageContainer">
    <section>
      <h3>Sam Farley Through the Years</h3>
      <!--Code adapted from https://stackoverflow.com/questions/45311433/how-to-change-image-on-mouseover-in-vue-js-->
      <img :src="myImage1" v-if="current1" v-on:mouseover="current1 = false, current2 = true" alt="5 year old Sam Farley on a rocking horse">
      <img :src="myImage2" v-else-if="current2" v-on:mouseover="current2 = false, current3 = true" alt="young Sam playing dress up">
      <img :src="myImage3" v-else-if="current3" v-on:mouseover="current3 = false, current4 = true" alt="Sam at her high school graduation">
      <img :src="myImage4" v-else-if="current4" v-on:mouseover="current4 = false, current1 = true" alt="Sam at her college graduation">
    </section>
    <section>
      <h3>Northern Minnesota 2020</h3>
      <!--Code adapted from https://stackoverflow.com/questions/45311433/how-to-change-image-on-mouseover-in-vue-js-->
      <img :src="myImage5" v-if="current5" v-on:mouseover="current5 = false, current6 = true" alt="dock at sunset on Lake Vermilion">
      <img :src="myImage6" v-else-if="current6" v-on:mouseover="current6 = false, current7 = true" alt="poppel tree forest during the fall">
      <img :src="myImage7" v-else-if="current7" v-on:mouseover="current7 = false, current8 = true" alt="long lake surrounded by fall trees">
      <img :src="myImage8" v-else-if="current8" v-on:mouseover="current8 = false, current9 = true" alt="close-up of sunflower">
      <img :src="myImage9" v-else-if="current9" v-on:mouseover="current9 = false, current5 = true" alt="Sam holding a small-mouth bass">
    </section>
    <section>
      <h3>My Niece Madilynn Rae</h3>
      <!--Code adapted from https://stackoverflow.com/questions/45311433/how-to-change-image-on-mouseover-in-vue-js-->
      <img :src="myImage10" v-if="current10" v-on:mouseover="current10 = false, current11 = true" alt="baby Madilynn in a snowsuit">
      <img :src="myImage11" v-else-if="current11" v-on:mouseover="current11 = false, current12 = true" alt="baby Madilynn in a pumpkin outfit">
      <img :src="myImage12" v-else-if="current12" v-on:mouseover="current12 = false, current13 = true" alt="baby Madilynn smiling">
      <img :src="myImage13" v-else-if="current13" v-on:mouseover="current13 = false, current14 = true" alt="baby Madilynn in her vibrating chair">
      <img :src="myImage14" v-else-if="current14" v-on:mouseover="current14 = false, current15 = true" alt="baby Madilynn wearing a taco 'bout cute shirt'">
      <img :src="myImage15" v-else-if="current15" v-on:mouseover="current15 = false, current10 = true" alt="Auntie Sam holding baby Madilynn">
    </section>
  </section>
  <script src="index.js"></script> <!--Needs to be below HTML content in order to work-->
</body>
</html>