body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #6e0000;
  margin: 0;
  padding: 12px;
}

img {
  width: 430px;
  height: 575px;
  object-fit: cover;
  border: 10px solid #6e0000;
}

#imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}